<template>
    <div>
        <div v-for="(error, index) in validation_errors" :key="index"  class="alert alert-danger" role="alert">
            {{error}}
        </div>
        <form @submit.prevent="bookIt">
            <div class="form-group">
                <label for="arrive">Arrive date:</label>
                <input type="date" class="form-control" id="arrive" v-model="booking.arrive">
                <label for="departure">Departure date:</label>
                <input type="date"  class="form-control" id="departure" v-model="booking.departure">
                <hr>
                <button type="submit" class="btn btn-primary">Book it</button>
            </div>
        </form>          
    </div>
</template>

<script>

export default {
    data: ()=>{
        return {
            booking: {
               arrive: null,
               departure: null
            },
            preloader_status: false,
            validation_errors: []
        }
    },
    methods: {
        bookIt() {
            if (!this.booking.arrive || !this.booking.departure) {
                this.validation_errors = []
                this.validation_errors.push('Both field must be filled')
                return false
            }
            axios.post('book-it', {
                arrive: this.booking.arrive,
                departure: this.booking.departure
            }).then((res)=>{
                if (!Array.isArray(res.data.data)) {
                    this.booking.arrive = null
                    this.booking.departure = null
                    this.validation_errors = []
                    alert(res.data.data)
                } else {
                    this.validation_errors = []
                    this.validation_errors.push('Room is busy from ' + res.data.data[0].arrive_date + ' to ' + res.data.data[0].departure_date)
                }
            }).catch((error)=>{
                this.validation_errors = []
                try {
                    this.validation_errors.push(error.response.data.errors.departure[0])
                } catch(e) {
                    console.log(e)
                }
            })
        }
    }
}
</script>
